.container {
  text-align: center;
}

.thumbnail {
  border-radius: 50%;
  overflow: hidden;
  margin: 0.5em auto;
  width: 100px;
  height: 100px;
}

.thumbnail img {
  transition: all 0.3s ease;
}

.thumbnail:hover img {
  transform: scale(1.1);
}

.name {
  font-size: 1em;
}
